*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 60%;
    margin: 2rem auto;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    display: flex;
    margin-top: 2rem;
    gap: 1rem;

}
.card{
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card .text {
    line-height: 1.5;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
@media only screen and (max-width:600px) {
    .container{
        width: 100%;
        padding: 1rem;
    }
    .wrapper {
        flex-direction: column;
    }
}